<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/starters2.avif" alt="">
            <h5>Product Name: Shrimp <br>
                Price: 1200.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/starters3.avif" alt="">
            <h5>Product Name: French Fries <br>
                Price: 150.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/starters4.avif" alt="">
            <h5>Product Name: Butter Naan <br>
                Price: 200.Rs    
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/starters5.avif" alt="">
            <h5>Product Name: Mini Bite <br>
                Price: 300.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/starters6.avif" alt="">
            <h5>Product Name: Polenta <br>
                Price: 500.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/starters7.avif" alt="">
            <h5>Product Name: Ravioli <br>
                Price: 2000.Rs    
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/starters8.avif" alt="">
            <h5>Product Name: Arancini <br>
                Price: 1500.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/starters9.avif" alt="">
            <h5>Product Name: Ribollita <br>
                Price: 800.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/starters10.avif" alt="">
            <h5>Product Name: Osso Buco <br>
                Price: 1000.Rs    
            </h5>
        </div>
    </div>
</div>