<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/desserts0.jpg" alt="">
            <h5>Product Name: OLIVE OIL SPONGE CAKE <br>
                Price: 1000.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/desserts9.jpg" alt="">
            <h5>Product Name:BROILED GRAPEFRUIT WITH GLUTEN-FREE STREUSEL <br>
                Price: 550.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/desserts2.jpg" alt="">
            <h5>Product Name: VANILLA-CARDAMOM KULFI WITH CITRUS ROSE SYRUP <br>
                Price: 200.Rs    
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/desserts3.jpg" alt="">
            <h5>Product Name:BANANA BREAD WITH HONEY, OATS & WALNUTS <br>
                Price: 500.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/desserts4.jpg" alt="">
            <h5>Product Name: STRAWBERRY FRENCH CAKE <br>
                Price: 500.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/desserts5.jpg" alt="">
            <h5>Product Name: RASPBERRY HEARTS (RASPBERRY, CREAM CHEESE PASTRIES) <br>
                Price: 200.Rs    
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/desserts6.jpg" alt="">
            <h5>Product Name: PUMPKIN SPICE LATTE TIRAMISU <br>
                Price: 500.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/desserts7.jpg" alt="">
            <h5>Product Name: INSTANT POT PUMPKIN SPICE CRÈME BRÛLÉE<br>
                Price: 600.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/desserts8.jpg" alt="">
            <h5>Product Name: RASPBERRY NAPOLEON (VALENTINE'S DAY SPECIAL) <br>
                Price: 1000.Rs    
            </h5>
        </div>
    </div>
</div>