*{
    width: 100%;
    float: left;
}
h4{
    text-align: center;
}
.container-fluid{
    background-color: dimgrey;
}
.card-body{
    width: 100%;
    top: 0;
}
.col-4{
    top: 0;
    width: 40%;
}
