<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/starters1.jpg" alt="" routerLink="starters">
            <h5 routerLink="starters">STARTERS</h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/mains1.jpg" alt="" routerLink="mains">
            <h5 routerLink="mains">MAINS</h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/dessert1.jpg" alt="" routerLink="desserts">
            <h5 routerLink="desserts">DESSERTS</h5>
        </div>
    </div>
    
</div>
<router-outlet></router-outlet>
