<div class="container-fluid">
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/main2.jpg" alt="">
            <h5>Product Name: BUTTER CHICKEN <br>
                Price: 1200.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/main3.jpg" alt="">
            <h5>Product Name: PALAK PANEER <br>
                Price: 550.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/main4.jpg" alt="">
            <h5>Product Name: ROGAN JOSH <br>
                Price: 300.Rs    
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/main5.jpg" alt="">
            <h5>Product Name: GRILLED CHICKEN WITH FRESH CHERRY SALSA <br>
                Price: 600.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/main6.jpg" alt="">
            <h5>Product Name: BOMBAY GRILLED CHUTNEY SANDWICH<br>
                Price: 200.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/main7.jpg" alt="">
            <h5>Product Name:PERSIAN CHICKEN JOOJEH KEBABS <br>
                Price: 2000.Rs    
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img src="/assets/main8.jpg" alt="">
            <h5>Product Name: SPICY PORK VINDALOO <br>
                Price: 1500.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/main9.jpg" alt="">
            <h5>Product Name: BOMBAY SLOPPY JOES <br>
                Price: 800.Rs    
            </h5>
        </div>
        <div class="col-sm-4">
            <img src="/assets/main0.jpg" alt="">
            <h5>Product Name: SWEET & SOUR SALMON IN FOIL PACKETS <br>
                Price: 1000.Rs    
            </h5>
        </div>
    </div>
</div>