<div class="container-fluid">

   <div id="slider">
      <figure>
         <img src="/assets/home1.jpg" alt="" >
        </figure>
        <figure>
         <img src="/assets/silder2.jpg" alt="" >
        </figure>
        <figure>
         <img src="/assets/slider.jpg" alt="" >
        </figure>
        <figure>
         <img src="/assets/main7.jpg" alt="">
        </figure>
        <figure>
         <img src="/assets/desserts3.jpg" alt="" >
        </figure>
   </div>
    <h6>
        Whether you are planning an intimate dinner for friends, a corporate luncheon, or an extravagant soirée, you will find the perfect setting at moniya. In addition to accommodating as many as 400 guests, our restaurant feature award-winning off-site catering and a full service event production team that will make sure every detail is in place, so you don't have to.
    </h6>
    <img src="/assets/home2.jpg" alt="" id="image">
   <h6>
    With specialty cocktails, unique starter dishes, and spectacular main courses and desserts, moniya is an amazing eatery. The superb talent and exacting precision of our chefs and staffs will make your experience here a grandeur one.
   </h6>
   <div class="row">
    <div class="col-sm-4">
        <img src="/assets/starters1.jpg" alt="" id="img"> <br> <h4><a href="menu">STARTERS</a> </h4>
     </div>
     <div class="col-sm-4">
        <img src="/assets/dessert1.jpg" alt="" id="img">
        <h4><a href="menu"> DESSERTS</a></h4>
     </div>
     <div class="col-sm-4">
        <img src="/assets/mains1.jpg" alt="" id="img">
        <h4><a href="menu">MAINS</a> </h4>
     </div>
   </div>
   <div class="row" id="lr">
      <hr>
      <div class="col-sm-12">
         <h3> <b>Contact Details:</b></h3>
         <hr>
         <h5> Mobile Number: 8248567531</h5>
         <h5>Owner Name: Moniya</h5>
         <h5>Location: 133,Aadhavan Nagar,Thirumazhisai,chennai-124. </h5>
         <h5>Hang a call for reservation.</h5>

      </div>
   </div>
</div>

